@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", system-ui, sans-serif;
  }
}

@layer components {
  hero-header {
    background-color: #0c050c; /* Cambia el color de fondo aquí */
    display: flex;
    align-items: center;
  }

  .left-section {
    flex: 1;
    color: #fff; /* Cambia el color del texto aquí */
    padding-left: 50px;
    font-family: "Lato", sans-serif; /* Cambia la tipografía del texto aquí */
  }

  .right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }

  hero-footer {
    height: 100px;
    background-color: #1a1a1a; /* Cambia el color de fondo del footer aquí */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-text {
    color: #d06713; /* Cambia el color del texto del footer aquí */
    font-family: "Lato", sans-serif; /* Cambia la tipografía del texto aquí */
  }
  
  .imgPS {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .box div img {
    cursor: pointer;
  }

  .imgAS {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hover-container {
    position: absolute;
  }

  .hover-img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hover-container:hover .hover-img {
    opacity: 1;
  }

  .fg-letters-200 {
    --tw-bg-opacity: 1;
    color: rgb(208 103 19 / var(--tw-bg-opacity));
    text-align: center;
    margin: 20px;
    font-family: "Lato", Bold, sans-serif;
    font-size: 48px;
  }

  .fg-letters-100 {
    --tw-bg-opacity: 1;
    color: rgb(208 103 19 / var(--tw-bg-opacity));
    text-align: center;
    margin: 20px;
    font-family: "Lato", Bold, sans-serif;
    font-size: 24px;
  }

  .bg-fondo-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(12 5 12 / var(--tw-bg-opacity));
  }


  
}
