@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .imgPS {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box div img {
    cursor: pointer;
  }

  .imgAS {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hover-container {
    position: absolute;
  }

  .hover-img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hover-container:hover .hover-img {
    opacity: 1;
  }

  .fg-letters-200 {
    --tw-bg-opacity: 1;
    color: rgb(208 103 19 / var(--tw-bg-opacity));
    text-align: center;
    margin: 20px;
    font-family: "Lato", Bold, sans-serif;
    font-size: 48px;
  }

  .fg-letters-100 {
    --tw-bg-opacity: 1;
    color: rgb(208 103 19 / var(--tw-bg-opacity));
    text-align: center;
    margin: 20px;
    font-family: "Lato", Bold, sans-serif;
    font-size: 24px;
  }

  .bg-fondo-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(12 5 12 / var(--tw-bg-opacity));
  }
}
